@media screen and (min-width: 1024px) and (max-width: 2000px) {

  .col_1 {width: 8.33%;}
  .col_2 {width: 16.66%;}
  .col_3 {width: 25%;}
  .col_4 {width: 33.33%;}
  .col_5 {width: 41.66%;}
  .col_6 {width: 50%;}
  .col_7 {width: 58.33%;}
  .col_8 {width: 66.66%;}
  .col_9 {width: 75%;}
  .col_10 {width: 83.33%;}
  .col_11 {width: 91.66%;}
  .col_12 {width: 100%;}

[class*="col_"] {
  float: left;
}


body {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.Header {
  box-sizing: border-box;  
  height: 250px;
  padding-top: 80px;
  padding-left: 50px;
  color: white;
}

.Titulos {
  box-sizing: border-box;
  font-family: roboto;
}

.Formulario {
  box-sizing: border-box;
  padding: 50px;  
  
}

.Cidade-form {
  box-sizing: border-box;
  font-size: 20px;
  outline:none;
  border: 0;
  border-bottom: 2px solid #242424;
  background-color:transparent;
}

.Pais-form {
  box-sizing: border-box;
  font-size: 20px;
  margin-left: 20px;
  outline:none;
  border: 0;
  border-bottom: 2px solid #242424;
  background-color:transparent;
}

.Botao-form {
  box-sizing: border-box;
  height: 20px;
  width: 20px;
  font-size: 20px;
  margin-left: 40px;
  outline:none;
  border: 0;
  background-image: url('../src/img/right-arrow.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

.Botao-form:hover {
  box-sizing: border-box;
  cursor: pointer;
}

.Tempo {
  font-family: helvetica;
  font-size: 20px;
  color: white;
  box-sizing: border-box;
  padding: 50px;
  padding-top: 30px;
}

.container-list {
  box-sizing: border-box;
  background-color: grey;
  padding: 10px;
  padding-left: 20px;
}


.Tempo-list {
  display: inline-block;
  font-size: 18px;
  color: #FF6A00;
}

}